In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
df = pd.read_csv("student_marks_dataset.csv")

In [3]:
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [4]:
df.shape

(100, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [6]:
y = df[["Marks"]]
x = df[["number_courses", "time_study"]]

In [7]:
l = LinearRegression()
model = l.fit(x, y)

In [8]:
model.score(x, y)

0.9403656320238896

In [9]:
model.predict([[3, 4]])

/Users/emin.tatar/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[19.73252115]])